<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Elevator Shaft/<%= title %></title>
    <link rel="icon" href="/images/icons8-elevator-64.png" type="image/png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="leftNav">
            <a class="navLinks" id="homeButton" href="/">Elevator Shaft</a>
          </li>
        </ul>
        <ul>
          <li class="rightNav">
            <a class="navLinks" id="addDay" href="/new">Add Day</a>
            <a class="navLinks" id="resources" href="/resources">Resources</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>