<%- include('./partials/header')  %>
<h1><%= title %></h1>
    <a href="https://www.saddlebackmaine.com/mountain-report/webcams/">Saddleback Webcams</a>
        <br>
    <a href="https://weather.com/">Weather</a>

<%- include('./partials/footer')  %>
