<%- include('./partials/header')  %>

<h1>Resources</h1>
<div>
    <a href="https://www.saddlebackmaine.com/mountain-report/webcams/" target="_blank">Saddleback Webcams</a>
        <br>
    <a href="https://weather.com/" target="_blank">Weather</a>
</div>

<%- include('./partials/footer')  %>
